#riddleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#nextRiddleButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
}