body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, h2 {
  color: #333;
}

#riddle-container {
  margin-top: 50px;
}

#answer-input {
  margin-top: 20px;
}

#submit-button {
  margin-top: 10px;
}

#treasure-container {
  display: none;
  margin-top: 50px;
}